<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tâches à réaliser</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/solar/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>

<body>

    <main class="container p-4">
        <h1 class="text-center title mt-4">TÂCHES À RÉALISER</h1>
        <div class="row">

            <div class="col-md-4 offset-md-4 my-auto">

                <div class="card">
                    <div class="card-header">

                        <form action="/creation-taches" method="POST">
                            <div class="form-group">
                                <input type="text" name="contenu" placeholder="Tâches" class="form-control" autofocus>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Sauvegarde nouvelle tâche</button>
                        </form>
                    </div>
                    <div class="card-body">


                        <ul class="list-group">
                            {% for tache in taches %}
                            <li class="list-group-item">
                                <span>{{tache.content}}</span>
                                <a href="/efface-tache/{{tache.id}}" class="btn btn-danger btn-sm">Effacer</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </main>

</body>

</html>