* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: 'PT Sans', sans-serif;
}

.conditions {
    margin: 10px;
  display: flex;
  height: 90px;
  justify-content: center;
  font-size: 40px;
}
.term{
    margin: 10px;
  display: flex;
  height: 90px;
  justify-content: center;
  font-size: 40px;
    color: grey;
}
h2 {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    color: rosybrown ;
  font-size: 30px;
}
h3 {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    color: brown ;
  font-size: 20px;
}
p {
    font-size: 15px;
  margin-top: 0.5rem;
    padding-left: 30px;
  color: saddlebrown;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
    color: darkred;;
}

li {
     font-size: 15px;
  margin-top: 0.5rem;
    padding-left: 30px;
  color: darkgoldenrod;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}