.formulaire {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box{

    height: 350px;
    border-radius: 25px;
    padding: 50px;
    margin:20px;
background-image: linear-gradient( 90.5deg,  rgba(255,207,139,0.50) 1.1%, rgba(255,207,139,1) 81.3% );
box-shadow: 0 5px 8px 0 darkgoldenrod, 0 7px 20px 0 white;
}
.phrase{
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;

}
.object{
    text-align: center;
    color: #575757;
    font-size: 33px;
    font-weight: bolder;
}
.form-inputs-ob {
  margin-bottom: 10px;
  width: 80%;
}
.form-label-ob {
   display: inline-block;
  font-size: 20px;
  margin-bottom: 6px;
  color: white;
}

.form-content-ob{
  margin: 50px auto;
  width: 400px;
  box-shadow: 0 0 0 0 darkred, 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: peru;
  border-radius: 25px;
  position: relative;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
.form-input-btn-ob{
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.form-input-ob {
   display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
  color: #595959;
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}


.form-input-ob::placeholder {
  color: #595959;
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}


.form-input-btn-ob:hover {
  transition: all 0.3s ease-out;
  background-color: brown ;
  color: white;
  transition: 250ms;
}

 .progressbar-container {
   position: relative;
   width: 100%;
   height: 50px;
     margin-top: 90px;
   border: 1px solid #FFF;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   background-color: lemonchiffon;
 }
 .form-input-btn-reinitialiser {
  height: 50px;
  margin-top: 10px;
  background-color: #663300;
  outline: none;
     margin-left: 20px;
  color: #fff;
  font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  border-radius: 25px;
     border: 1px none #663300;
     width : 150px
}

.form-input-btn-reinitialiser:hover {
  cursor: pointer;
  background-color: #8A6735;
  color: #242424;
  transition: all 0.4s ease-out;
}
.progressbar-complete {
      position: absolute;
      left: 0;
      top: 0px;
      height: 100%;
      background-color: #5225bd;
      border-radius: 10px;
      animation: g 2500ms infinite ease-in-out;
      z-index: 2;}
.progressbar-liquid {
        z-index: 1;
        width: 70px;
        height: 70px;
        animation: g 2500ms infinite ease-in-out, r 3000ms infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
        position: absolute;
        right: -5px;
        top: -10px;
        background-color: brown;
        border-radius: 40%;
      }


.progress {
      z-index: 2;
    }


@keyframes g {
  0% { background-color: #f2a65a; }
  50% { background-color: #f2c17d; }
  100% { background-color: sandybrown; }
}

@keyframes r {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

@media screen and (max-width: 960px) {
 .formulaire {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.object{
    text-align: center;
    color: #575757;
    font-size: 23px;
}
.form-inputs-ob {
  margin-bottom: 10px;
  width: 80%;
}
.form-label-ob {
   display: inline-block;
  font-size: 20px;
  margin-bottom: 6px;
  color: white;
}

.form-content-ob{
  margin: 50px auto;
  width: 100%;
  box-shadow: 0 0 0 0 darkred, 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: peru;
  border-radius: 25px;
  position: relative;
  height: 240px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
.form-input-btn-ob{
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.form-input-ob {
   display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
  color: #595959;
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}


.form-input-ob::placeholder {
  color: #595959;
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}


.form-input-btn-ob:hover {
  transition: all 0.3s ease-out;
  background-color: brown ;
  color: white;
  transition: 250ms;
}
.progressbar-container{
    position: relative;
    width: 100%;
    height: 40px;



}
.spinner-border{
    width: 50px;
    height: 40px;
}
Center {
    height: 100px;
}
.progressbar-complete {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: #5225bd;
      border-radius: 10px;
      animation: g 2500ms infinite ease-in-out;
      z-index: 2;}
.progressbar-liquid {
        z-index: 1;
        width: 70px;
        height: 100px;
        animation: g 2500ms infinite ease-in-out, r 3000ms infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
        position: absolute;
        right: -5px;
        top: -10px;
        background-color: brown;
        border-radius: 40%;
      }


.progress {
      z-index: 2;
    }


@keyframes g {
   0% { background-color: #f2a65a; }
  50% { background-color: #f2c17d; }
  100% { background-color: sandybrown; }
}

@keyframes r {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
}

