.container-paypal{
    text-align: center;
}

.container-premium{
    background-color: burlywood;
    text-align: center;
    height: 800px;

}

.container-premium p, .container-premium a{
    padding-bottom: 30px;
}
